<app-navbar (click)="(showFaves)"></app-navbar>
<mat-slide-toggle
  color="warn"
  aria-label="show only favourite movies"
  [checked]="isSlideChecked"
  (change)="showFaves($event)"
  >Show faves</mat-slide-toggle
>
<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i = index">
    <div class="img-wrapper">
      <img class="movie-img" src="{{ movie.ImageUrl }} " />
    </div>
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title"
        >{{ movie.Title }} ({{ movie.Year }})</mat-card-title
      >
      <mat-card-subtitle
        >Directed by: {{ movie.Directors[0].Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions class="mat-card-actions">
      <button mat-raised-button (click)="openGenreDialog(movie.Genres)">
        Genres
      </button>
      <button
        mat-raised-button
        (click)="
          openDirectorDialog(
            movie.Directors[0].Name,
            movie.Directors[0].Birthyear,
            movie.Directors[0].Bio
          )
        "
      >
        Director
      </button>
      <button mat-raised-button (click)="openSynopsisDialog(movie.Description)">
        Synopsis
      </button>
    </mat-card-actions>
    <mat-card-actions class="faves-row">
      <mat-icon (click)="toggleFav(movie._id)" class="faves-icon">{{
        this.user.Favslist.includes(movie._id) ? "favorite" : "favorite_border"
      }}</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
