<mat-card>
  <mat-card-actions>
    <button
      class=".btn-close"
      mat-icon-button
      aria-label="close the director details button"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title class="director-title">{{ data.Name }} </mat-card-title>
    <mat-card-subtitle *ngIf="data.Birthyear"
      >*{{ data.Birthyear }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ data.Bio }}</p>
  </mat-card-content>
</mat-card>
