<mat-card>
  <mat-card-header>
    <mat-card-title style="margin-bottom: 15px"
      >Change your data</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          placeholder="new Email"
          type="email"
          name="Email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="new Password"
          type="password"
          name="Password"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="updateUser()">Update Profile</button>
  </mat-card-actions>
</mat-card>
