<app-navbar></app-navbar>
<mat-grid-list cols="2" rowHeight="600px" style="justify-content: left">
  <mat-grid-tile>
    <div>
      <H1>Profile</H1>
      <mat-list>
        <mat-list-item>Username: {{ user.Username }}</mat-list-item>
        <mat-list-item
          >Birthday: {{ user.Birthday | date: "longDate" }}</mat-list-item
        >

        <mat-list-item>Email: {{ user.Email }} </mat-list-item>

        <mat-list-item>Password: ********</mat-list-item>
        <button mat-raised-button (click)="openUserChangeDataDialog()">
          Change Data
        </button>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
